.App {
  margin: auto;
  /* background-color: black; */
  /* height: 100vw; */
  /* margin-top: -50px; */
  /* padding-top: 50px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* margin-top: 40px; */
}
/* .App>div:nth-child(1){
    width: 4%;
    background-color: black;
    height: 100vw;
    
}
.App>div:nth-child(2){
  width: 90%;
  border: 1px soild red;
} */

